<% if @article.errors.any? %>
  <h4>Following are the Erros preventing Article to save</h4>
  <ul>
  <% @article.errors.full_messages.each do |msg|%>
    <li><%=msg%></li>
  <%end%>
  </ul>
<%end%>

<%= form_with(model: @article, local: true ) do |f|%>
  <div>
    <%= f.label :title%><br>
    <%= f.text_field :title%>
  </div>

  <div>
    <%= f.label :body%><br>
    <%= f.text_area :body%>
  </div>

  <div>
    <%= f.submit%>
  </div>

<%end%>