<div class="container text-center">
  <h2><%= @article.title%></h2>
        <div class="row justify-content-md-center">
          <div class= "col-8 mt-4">
            <div class="card  text-center shadow-lg  mb-5 bg-body rounded">
              <div class="card-header text-white bg-dark border-dark fst-italic">
                by <%= @article.user.username%>
              </div>
              <div class="card-body border-dark">
                <div class="card-text text-start"> <%= simple_format(@article.body)%></div>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-secondary"%>
                <%= link_to "Back to Articles", articles_path, class: "btn btn-primary"%>
                <%= link_to "Delete", article_path(@article), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure"}%>
              </div>
              <div class="card-footer text-muted text-white bg-dark border-dark">
                <small>Created at: <%= time_ago_in_words(@article.created_at)%> ago</small><br>
                <small>Updated at: <%= time_ago_in_words(@article.updated_at)%> ago</small>
              </div>
            </div>
          </div>  
        </div>
  <p><%= link_to "Create New Article",new_article_path, class:"btn btn-secondary text-center"%></p>
</div>
