<div class="container text-center">
  <h2>User Profile</h2>
  <h5><%= @user.username%></h5> 
  <h6><%= @user.email%></h6>
  <%= link_to "Update User Profile", edit_user_path(@user), class: "btn btn-secondary"%>
  <%= render "articles/pagination", obj: @articles%> 
  <% if @user.articles.any? == true%>
  <h4>List of Articles created by <%= @user.username%></h4>
  <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @articles.each do |article|%>
        <div class="col">
          <div class="row justify-content-md-center">
            <div class= "col-8 mt-4">
              <div class="card  text-center shadow-lg  mb-5 bg-body rounded">
                <div class="card-header text-white bg-dark border-dark fst-italic">
                    by <%= article.user.username%>
                </div>
                <div class="card-body border-dark">
                    <h5 class="card-title"><%= article.title%></h5>
                    <p class="card-text"> <%= truncate(article.body, length:50)%></p>
                    <%= link_to "Show", article_path(article), class: "btn btn-info"%>
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn-secondary"%>
                    <%= link_to "Delete", article_path(article), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure"}%>
                    <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                </div>
                <div class="card-footer text-muted text-white bg-dark border-dark">
                    <small>Created at: <%= time_ago_in_words(article.created_at)%> ago</small><br>
                    <small>Updated at: <%= time_ago_in_words(article.updated_at)%> ago</small>
                </div>
              </div>
            </div>  
          </div>
        </div>  
      <%end%>
  </div>
  <% else %>
    <%= "No Articles Found"%>
  <% end%>
  <%= render "articles/pagination", obj: @articles%>
  <p><%= link_to "Create New Article",new_article_path, class:"btn btn-secondary text-center"%></p>
</div>

